# Project dependencies
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
.cache
node_modules
yarn-error.log

# Build directory
/public
travis/.ssh/id_rsa
/src/components/ColumnContainer
/src/components/Header
/package.json
/gatsby-ssr.js
/gatsby-node.js
/gatsby-config.js
/gatsby-browser.js
/src/templates
/src/shared
/src/layouts
/src/pages/404.js
/src/pages/styleguide
/package-lock.json
