# Project dependencies
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
.cache
node_modules
yarn-error.log

# Build directory
/public
travis/.ssh/id_rsa
/src/layouts/defaults/__OLD
/src/pages/indextst.md
/src/pages/research
/src/pages/todo
/src/pages/ui
/src/shared/css/__OLD
