@import '../../shared/css/variables.css';

body {

  @mixin scontecss {
    font-size: $.fontSize.p;
    font-family: $.fontFamily.sans;
    font-weight: $.fontWeight.sans.normal;
    line-height: $.lineHeight.base;
  }

  color: $color--base--screen;
  font-feature-settings: 'onum' 1, 'pnum' 1;

  @media print {
    color: $color--base--print;
  }
}

@supports (font-variant-numeric: oldstyle-nums) and (font-variant-numeric: proportional-nums) {
  body {
    font-feature-settings: normal;
    font-variant-ligatures: oldstyle-nums proportional-nums;
  }
}

@mixin debug {
  body:before {
    content: 'mobile';
    position: fixed;
    bottom: 0;
    right: 0;
    font-size: 12px;
    color: #f00;
    padding: 0.5em 1em;
    background-color: #ccc;

    @media (--breakpoint-m) {
      content: 'tablet';
    }

    @media (--breakpoint-l) {
      content: 'desktop';
    }
  }
}
