:global .noUpscale {
    img {
        max-width: 100%;
    }
}

:global .imageline {

    img {
        border: 1px solid black;
        box-sizing: border-box;

        @media print {
          border-width: 0.3pt;
        }
    }
}
