table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-feature-settings: "lnum" 1, "tnum" 1;
}

@supports (font-variant-numeric: lining-nums) and (font-variant-numeric: tabular-nums) {
  table {
    font-feature-settings: normal;
    font-variant-numeric: lining-nums tabular-nums;
  }
}


td,
th {
    vertical-align: top;
    text-align: left;

    border-bottom-color: black;
    border-bottom-width: $line--thin--screen;
    border-bottom-style: solid;

    img {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
}

th {
    border-bottom-width: $line--thick--screen;
}

tr {
    @media print {
        page-break-inside: avoid;
    }
}
