@import "./breakpoints.css";


@define-mixin debug {
  /* comment for no debug */
  @mixin-content {};
}

/* @import "./debug.css"; */
$flegrix-debug: true;
$debug-color: rgba(0,0,75,0.25);

$color--base--screen: #222;
$color--base--print: black;

$color--primary--screen: #006984;
$color--primary--print: black;

$color--secondary--screen: #0054a2;
$color--secondary--print: black;


$line--thin--screen: 1px;
$line--thin--print: 0.3pt;

$line--thick--screen: 3px;
$line--thick--print: 0.05rem;


/*

$color-primary: red;
$line--width: 0.5rem;

$gutter-default: 3.125;
$gutter-m: 2.6;
$gutter-l: 1.39;

*/
